
<div class="about-main">
  <h2>-------つぶやき君とは-------</h2><br>
  <p>
          twitterを模して作ったSNSです。<br><br>
          君も思ったことをつぶやいてみよう。
  </p>
  <a href="https://okudak-1892.github.io/practice_git/">
  <span class="btn message">製作者の情報を見る</span>
  </a>
</div>
